%button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}
.search-btn {
    @extend %button;
    img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}
.cart-btn {
    @extend %button;
    img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }
}

.burger {
    @extend %button;
    @include responsive(tables) {
        display: block;
    }
    display: none;
    img {
        width: 30px;
        height: 30px;
    }
}

.hero__left-btn {
    @extend %button;
    position: absolute;
    top: 262px;
    left: 18px;
    @include responsive(big-tables) {
        top: 160px;
    }
}
.hero__right-btn {
    @extend %button;
    position: absolute;
    top: 262px;
    right: 18px;
    @include responsive(big-tables) {
        top: 160px;
    }
}