.header {
    padding: 3rem 0;
    &__inner {
        @include container;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo img {
        display: flex;
        width: 170px;
        height: 21px;
    }
    &__btn-wrapper {
        display: flex;
        gap: 21px;
    }
}


